$topbar-sticky-shrink-padding: rem-calc(20 0); // controls the un-stuck height of topbar
$topbar-sticky-shrink-padding-stuck: 1rem; // controls the is stuck height of topbar

body {
  &.page {
    #maincontent {
      margin-top: rem-calc(75);
    }
  }  
  &.home {
    #maincontent {
      margin-top: 0;
    }
  }
}

h1, h2, h3 {
  font-weight: 700;
}

h1, h2 {
  margin-bottom: rem-calc(20);
}
h2 {
}
h3 {
  color: $primary-color;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

p, li {
  font-size: rem-calc(15);
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  background: $medium-gray;
  height: rem-calc(7);
  margin: rem-calc(70 0 30); 
}

.intro {
  font-size: rem-calc(19);
  margin-bottom: rem-calc(30);
}

.learn-more {
  @include button(
    $style : 'hollow' 
    );
    color: $white;
    font-weight: 600;
    border-radius: rem-calc(5);
    border: $white solid 2px;
    margin-bottom: 0;
    &:hover,&:focus {
      background: $success-color;
      border: $success-color solid 2px;
    }
}

.topbar-search {
  @include breakpoint(medium down) {
    display: none;
    position: absolute;
    right: 0;
    z-index: 100;
  }
  .search-box {
    @include breakpoint(medium down) {
      position: absolute;
      right: rem-calc(20);
      top: rem-calc(25);
      z-index: 100;
    }
    input[type="text"] {
      color: $dark-gray;
      font-size: rem-calc(13);
      height: rem-calc(34);
      border-radius: rem-calc(5);
      max-width: 100%;
      padding: rem-calc(12);
      border: none;
      font-family: "Open Sans", serif;
      margin-right: 0;
      @include breakpoint(medium down) {
      }
    }
    input[type="submit"] {
      display: none;
    }
  }
}

.breadcrumbs {
  background: $light-gray;
  padding: rem-calc(12 0);
  span {
    font-size: rem-calc(14);
    font-weight: 600;
  }
}



$topbar-responsive-animation-type: fade-in; // or use slide-down or none
.sticky-container {
  //background: $primary-color;
  transition: all ease-in-out 0.5s; 
  
}
.title-bar {
  background: $white;
  padding: rem-calc(24 30);
  z-index: 100;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.22);
  @include breakpoint(medium down) {
    padding: rem-calc(16 30);
    display: block;
  }
  .title-bar-title {
    //margin-right: rem-calc(50);
    @include breakpoint(medium down) {
      margin-right: 0;
      text-align: center;
      display: block;
    }
    img {
      width: rem-calc(200);
      @include breakpoint(medium down) {
        width: rem-calc(150);
        margin-bottom: rem-calc(20);
      }
    }
  } 
  .title-bar-left {
    flex: 1 0 auto;
  }
  .title-bar-right {
    flex: 0 0 85%;
    @include breakpoint(medium only) {
      flex: 0 0 80%;
    }
    &.mobile-icons {
      .mobile-menu {
        @include breakpoint(medium down) {
        }
      }
      .mobile-icon,
      .search-icon {
        color: $black;
        padding: rem-calc(0 10);
      }
      .mobile-icon {
        cursor: pointer;
      }
      .search-icon {
        cursor: pointer;
      }
    }
  }
}

.title-bar {
  padding: rem-calc(14 30);
  transition: all ease-in-out 0.5s; 
  &.is-stuck {
    .title-bar-title {
      img {
        width: rem-calc(120);
        transition: all ease-in-out 0.5s; 
      }
    }
  }
}

.title-bar {
  transition: all ease-in-out 0.5s; 
  &.is-anchored {
    .title-bar-title {
      img {
        transition: all ease-in-out 0.5s; 
      }
    }
  }
}

.top-menu {
  background: $primary-color;
  z-index: 100;
  @include breakpoint(medium down) {
    //display: none;
  }
  .mobile-menu {
    position: relative;
    top: rem-calc(18);
    left: rem-calc(20);
    button {
      cursor: pointer;
      color: $white;
    }
  }
}

.social-media {
  li {
    font-size: rem-calc(18);
    a {
      color: $white;
      padding: rem-calc(20 15);
      &:hover, &:focus {
        color: $secondary-color;
        transition: all ease-in 0.5s;
      }
    }
  }
}

#main-menu {
  li {
    font-family: "Open Sans", serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem-calc(13);
    a {
      color: $white;
      padding: rem-calc(20 15);
      &:hover, &:focus {
        color: $secondary-color;
      }
    }
    &.current-menu-item {
      a {
        color: $secondary-color;
      }
    }
    ul.submenu {
      position: absolute;
      top: rem-calc(56);
      background: $white;
      width: rem-calc(215);
      border: none;
      -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
      li {
        a {
          padding: rem-calc(12 15);
          color: $dark-gray;
          &:hover, &:focus {
            background: $light-gray;
          }
        }
      }
      ul.submenu {
        top: 1px;
      }
    }
  }
}

//offcanvas menu
.off-canvas-wrapper-inner {
  .off-canvas {
    background: $primary-color;
  }
  #off-canvas-menu {
    margin-top: rem-calc(20);
    li {
      font-family: "Open Sans", serif;
      font-size: rem-calc(14);
      text-transform: uppercase;
      font-weight: 600;
      a {
        color: $white;
        &:hover, &:focus {
          color: $white;
          background: $secondary-color;
        }
      }
      ul {
        li {
          a {
            padding-left: rem-calc(40);
          }
        }
      }
    }
  }
}

#frontbanner {
  height: 600px;
  position: relative;
  margin-bottom: rem-calc(50);
  .text-overlay {
    position: absolute;
    z-index: 1;
    left: 50%;
    width: rem-calc(550);
    margin-left: rem-calc(-550);
    bottom: rem-calc(20);
    @include breakpoint(medium down) {
      left: 0;
      width: 100%;
      margin-left: 0;
    }
    h2,p {
      color: $white;
      font-weight: 600;
    }
    h2 {
      font-size: 50px;
      font-size: rem-calc(50);
      line-height: 1.2;
      margin-bottom: 25px;
    }
    p {
      font-size: rem-calc(28);
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: 0;
  }
}

.top-menu-widget {
  ul {
    @include breakpoint(medium down) {
      justify-content: center;
    }
    li {
      font-weight: 500;
      font-size: rem-calc(15);
      margin-left: rem-calc(20);
      line-height: 0;
      @include breakpoint(small only) {
        padding: rem-calc(10 0);
      }
      //text-transform: lowercase;
      color: $dark-gray;
      p {
        margin-bottom: 0;
        line-height: 0;
      }
      span {
        position: relative;
        top: 0;
        //margin-left: 20px;
        font-size: rem-calc(30);
        color: $primary-color;
      }
      a {
        color: $primary-color;
        padding-top: 0;
        padding-bottom: 0;
        &:hover, &:focus {
          color: $secondary-color;
        }
        &.button {
          color: $white;
          border-radius: rem-calc(5);
          @include breakpoint(small only) {
          }
        }
      }
      &:first-child {
        @include breakpoint(small only) {
          //display: none;
        }
      }
    }
  }
}

.footer-widgets {
  background: $medium-gray;
  padding: rem-calc(30 0);
  //border-bottom: $light-gray solid 1px;
  .grid-x {
    @include breakpoint(small only) {
      @include xy-gutters(
        $gutters : 40 
      );
    }
    .cell {
      @include breakpoint(medium only) {
        margin-top: rem-calc(30);
        margin-bottom: rem-calc(30);
      }
    }
  }
  .widget {
    @include breakpoint(small only) {
      margin-bottom: rem-calc(30);
      text-align: center;
    }
  }
  h3 {
    margin-bottom: rem-calc(20);
    color: $white;
    font-weight: 800;
    text-transform: uppercase;
    @include breakpoint(small only) {
      text-align: center;
    }
  }
  p {
    color: $white;
  }
  #menu-footer-menu {
    display: block;
    @include breakpoint(small only) {
      list-style: none;
      margin: 0;
    }
    li {
      color: $white;
      a {
        padding: 0;
        margin-bottom: rem-calc(16);
        color: $white;
        &:hover, &:focus {
          color: $primary-color;
        }
      }
    }
    ul {
      @include breakpoint(small only) {
        list-style: none;
        margin: 0;
      }
      li {
      }
    }
  }
  .footer-widget-first {
    .widget_media_image {
      margin: rem-calc(7 0 30 0);
      @include breakpoint(small only) {
        text-align: center;
      }
    }
    p {
      margin-bottom: rem-calc(10);
    }
    a {
      color: $white;
      &:hover, &:focus {
        color: $primary-color;
      }
    }
  }
  .footer-widget-second {
    .widget_nav_menu {
      ul {
        flex-direction: column;
        @include breakpoint(small only) {
          display: block;
          text-align: center;
        }
        li {
          a {
            padding: rem-calc(5 0);
            color: $medium-gray;
            &:hover, &:focus {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
  .footer-widget-fourth {
    .textwidget {
      //text-align: center;
    }
    p {
      font-size: rem-calc(16);
      @include breakpoint(small only) {
        text-align: center;
      }
      a {
        color: $medium-gray;
        &:hover, &:focus {
          color: $primary-color;
        }
      }
    }
  }
}

.fb_iframe_widget iframe {
  @include breakpoint(medium down) {
    width: 100%!important;
  }
}

footer {
  padding: rem-calc(24 0);
  background-color:$dark-gray; 
  .copyright {
    p {
      color: $white;
      font-size: rem-calc(12);
      margin-bottom: 0;
      text-align: center;
      @include breakpoint(small only) {
      }
      a {
        color: $medium-gray;
      }
    }
  }
}

.strategy-form .gform_page > .gform_page_fields > ul > li > label, .strategy-form .gform_page .strategy-field-headline,
.square-box-field .gfield_radio li label, .square-box-field .gfield_checkbox li label, .simple-field .gfield_radio li label, .simple-field .gfield_checkbox li label,
.strategy-form .gform_page_footer [type="button"], body .strategy-form form .gform_page_footer [type="submit"] {
  font-family: Arial, Helvetica, sans-serif!important;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
border: 0;
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute !important;
width: 1px;
word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
background-color: #eee;
clip: auto !important;
clip-path: none;
color: #444;
display: block;
font-size: 1em;
height: auto;
left: 5px;
line-height: normal;
padding: 15px 23px 14px;
text-decoration: none;
top: 5px;
width: auto;
z-index: 100000;
/* Above WP toolbar. */
}
