body {
 color: #222;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

.lrg-heading {
	font-size:5.125rem;
    font-family: franklin-gothic-urw-cond,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 2rem;
    margin-top: 0;
    text-rendering: optimizelegibility;
}

.homer-bullets {
	margin-bottom: 12px;
	font-size: 20px;
	}

p { font-size: 18px;
    line-height: 160%;}

    

    h1 {
   letter-spacing: -1px;
      font-size: 3.4375rem; }

 

    h4 {
    font-size: 1.1rem;}


    h2 {
    font-size: 2.875rem }

    

    h3 {
    font-size: 1.4375rem;}



.alignnone {
  margin: 5px 20px 20px 0; }



.alignright {
  float: right;
  margin: 5px 0 20px 20px; }



.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }



.aligncenter {
  display: block;
  margin: 0 auto 5px auto; }


a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 0 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  margin-left: auto;
  margin-right: auto; }



a .button {
  text-transform: uppercase; 
    background-color: #bed62f;
    border-color: #0063a2;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    color: #fff;
    display: inline-block;
    font-family: franklin-gothic-urw-cond;
    font-size: 1.3125rem;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 1.25rem;
    padding: 0.75rem 1.5rem 0.8125rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    }



.intro {
  font-size: 25px !important;
  font-weight: 400; }

.region-areas {
    color: #000;
    font-size: 23px;
}

.intro-small {
  font-size: 19px !important;
  font-weight: 500; }



h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
    text-rendering: optimizelegibility; 
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}


