$topbar-sticky-shrink-padding: rem-calc(20 0); // controls the un-stuck height of topbar
$topbar-sticky-shrink-padding-stuck: 1rem; // controls the is stuck height of topbar

body {
  &.page, &.blog, &.category, &.single-post {
    #maincontent {
      margin-top: rem-calc(50);
      margin-bottom: rem-calc(50);
    }
  }  
  &.home {
    #maincontent {
      margin-top: 0;
    }
  }
}
h1 {
  //color: $primary-color;
}

h1, h2, h3 {
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}

h1, h2 {
  margin-bottom: rem-calc(20);
  
}
h2 {
  a {
    color: $black;
  }
}
h3 {
  color: $primary-color;
}
h4 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

p, li {
  font-size: rem-calc(18);
  line-height: 1.5;
  font-family: "Times New Roman", Times, serif;
}

hr {
  background: $medium-gray;
  height: rem-calc(7);
  margin: rem-calc(70 0 30); 
}

.intro {
  font-size: rem-calc(19);
  margin-bottom: rem-calc(30);
}

.learn-more {
  @include button(
    $style : 'hollow' 
    );
    color: $white;
    font-weight: 600;
    border-radius: rem-calc(5);
    border: $white solid 2px;
    margin-bottom: 0;
    &:hover,&:focus {
      background: $success-color;
      border: $success-color solid 2px;
    }
}

.topbar-search {
  @include breakpoint(medium down) {
    display: none;
    position: absolute;
    right: 0;
    z-index: 100;
  }
  .search-box {
    @include breakpoint(medium down) {
      position: absolute;
      right: rem-calc(20);
      top: rem-calc(25);
      z-index: 100;
    }
    input[type="text"] {
      color: $dark-gray;
      font-size: rem-calc(13);
      height: rem-calc(34);
      border-radius: rem-calc(5);
      max-width: 100%;
      padding: rem-calc(12);
      border: none;
      font-family: "Open Sans", serif;
      margin-right: 0;
      @include breakpoint(medium down) {
      }
    }
    input[type="submit"] {
      display: none;
    }
  }
}

.breadcrumbs {
  background: $light-gray;
  padding: rem-calc(12 0);
  span {
    font-size: rem-calc(14);
    font-weight: 600;
  }
}

$topbar-responsive-animation-type: fade-in; // or use slide-down or none
.sticky-container {
  //background: $primary-color;
  transition: all ease-in-out 0.5s;  
}
.navwrapper {
  //background:#C0322F;
  z-index: 100;
}

.home .navwrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  background:$white;
}
.home .breadcrumbs { display:none; }
.title-bar {
  background: none;
  padding: rem-calc(24 15);
  z-index: 100;
  box-shadow: none;
  margin: 0 auto;
  max-width: rem-calc(1130);
  @include breakpoint(medium down) {
    padding: rem-calc(16 30);
    display: flex;
    justify-content: space-between;
  }     
  .title-bar-title {
    //margin-right: rem-calc(50);
    @include breakpoint(medium down) {
      margin-right: 0;
      text-align: center;
      display: block;
    }
    @include breakpoint(small down) {
      text-align: left;
    }
    img {
      width: rem-calc(355);
      @include breakpoint(medium down) {
        width: rem-calc(150);
        margin-bottom: rem-calc(10);
      }
    }
  } 
  .title-bar-left {
    flex: 1 0 auto;
  }
  .title-bar-right {
    flex: 1;
    @include breakpoint(medium only) {
      flex: 0 0 65%;
    }
    &.mobile-icons {
      .mobile-menu {
        @include breakpoint(medium down) {
        }
      }
      .mobile-icon,
      .search-icon {
        color: $black;
        padding: rem-calc(0 10);
      }
      .mobile-icon {
        cursor: pointer;
      }
      .search-icon {
        cursor: pointer;
      }
    }
  }
}

.title-bar {
  @include breakpoint(small only) {
    padding: rem-calc(10 10);
  }
  @include breakpoint(medium only) {
    padding: rem-calc(14 30);
  }
  padding: rem-calc(22 30);
  transition: all ease-in-out 0.5s; 
  &.is-stuck {
    .title-bar-title {
      img {
        width: rem-calc(120);
        transition: all ease-in-out 0.5s; 
      }
    }
  }
}

.title-bar {
  transition: all ease-in-out 0.5s; 
  &.is-anchored {
    .title-bar-title {
      img {
        transition: all ease-in-out 0.5s; 
      }
    }
  }
}

.top-menu {
  background: #323232;
  z-index: 100;
  @include breakpoint(medium down) {
    //display: none;
  }
  @include breakpoint(small only) {
    background: none;
    position: absolute;
    top: 17px;
    right: 36px;
  }
  .mobile-menu {
    position: relative;
    top: rem-calc(18);
    left: rem-calc(20);
    @include breakpoint(small only) {
      top: rem-calc(1);
    }
    button {
      cursor: pointer;
      color: $black;
    }
  }
}

.social-media {
  justify-content: flex-end;
  @include breakpoint(medium down) {
    justify-content: flex-end;
    }
  li {
    font-size: rem-calc(24);
    @include breakpoint(medium down) {
      font-size:rem-calc(22);
    }
    a {
      color: $black;
      padding: rem-calc(10 10);
      &:hover, &:focus {
        color: #f7736f;
        transition: all ease-in 0.5s;
      }
    }
  }
}

#main-menu {
  float:left;
  li {
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem-calc(21);
    @include breakpoint(medium down) {
      font-size: rem-calc(15);
    }
    a {
      color: $white;
      padding: rem-calc(20 15);
      border-left:1px solid #5b5b5b;
      @include breakpoint(medium down) {
        padding: rem-calc(20 12);
      }
      &:hover, &:focus {
        color: #858585;
      }
    }
    &.current-menu-item, &.current-menu-parent, &.current_page_parent, &.current-menu-ancestor {
      a {
        color: #858585;
      }
    }
    ul.submenu {
      z-index:100;
      position: absolute;
      top: rem-calc(61);
      background:#323232;
      width: rem-calc(215);
      border: none;
      -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
      li {
        a {
          padding: rem-calc(12 15);
          color: $white;
          background: #323232;
          border-bottom:1px solid #5b5b5b;
          &:hover, &:focus {
            color: #858585;
          }
        }
        &.current-menu-ancestor, &.current-menu-item {
          a {
            color: #858585;
          }
        }
      }
      ul.submenu {
        top: 1px;
        li {
          a {
            color: $white;
            &:hover, &:focus {
              color: #858585;
            }
          }
          &.current-menu-item {
            a {
              color: #858585;
            }
          }
        }
      }
    }
  }
}

//offcanvas menu
.off-canvas-wrapper-inner {
  .off-canvas {
    background: $primary-color;
  }
  #off-canvas-menu {
    margin-top: rem-calc(20);
    li {
      font-family: "Open Sans", serif;
      font-size: rem-calc(14);
      text-transform: uppercase;
      font-weight: 600;
      &.current-menu-item a{
        background: #858585;
      }
      a {
        color: $white;
        &:hover, &:focus {
          color: $white;
          background: #858585;
        }
      }
      ul {
        li {
          a {
            padding-left: rem-calc(40);
          }
        }
      }
    }
  }
}

#frontbanner {
  height: 600px;
  position: relative;
  margin-bottom: rem-calc(50);
  .text-overlay {
    position: absolute;
    z-index: 1;
    left: 50%;
    width: rem-calc(550);
    margin-left: rem-calc(-550);
    bottom: rem-calc(20);
    @include breakpoint(medium down) {
      left: 0;
      width: 100%;
      margin-left: 0;
    }
    h2,p {
      color: $white;
      font-weight: 600;
    }
    h2 {
      font-size: 50px;
      font-size: rem-calc(50);
      line-height: 1.2;
      margin-bottom: 25px;
    }
    p {
      font-size: rem-calc(28);
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: 0;
  }
}

.top-menu-widget {
  ul {
    @include breakpoint(medium down) {
      justify-content: flex-end;
    }
    li {
      font-weight: 500;
      font-size: rem-calc(15);
      margin-left: rem-calc(20);
      line-height: 0;
      @include breakpoint(small only) {
        padding: rem-calc(10 0);
      }
      //text-transform: lowercase;
      color: $dark-gray;
      p {
        margin-bottom: 0;
        line-height: 0;
        font-size:36px;
        font-weight:600;
        color:$black;
        @include breakpoint(medium down) {
          font-size:rem-calc(22);
        }
      }
      i {
        font-size:30px;
        @include breakpoint(medium down) {
          font-size:rem-calc(18);
        }
      }
      span {
        position: relative;
        top: 0;
        //margin-left: 20px;
        font-size: rem-calc(30);
        color: $black;
      }
      a {
        display: inline-block;
        color: $black;
        padding-top: 0;
        padding-bottom: 0;
        &:hover, &:focus {
          color: #f7736f;
        }
        &.button {
          color: $white;
          border-radius: rem-calc(5);
          @include breakpoint(small only) {
          }
        }
      }
      &:first-child {
        @include breakpoint(small only) {
          //display: none;
        }
      }
    }
  }
}

.top-footer-widget {
  padding: rem-calc(50 0);
  text-align: center; 
  h3 {
    font-size: rem-calc(24);
  }
}

.footer-widgets {
  background: #323232;
  color:$white;
  padding: rem-calc(30 0);
  //border-bottom: $light-gray solid 1px;
  .grid-x {
    @include breakpoint(small only) {
      @include xy-gutters(
        $gutters : 40 
      );
    }
    .cell {
      @include breakpoint(medium only) {
        margin-top: rem-calc(30);
        margin-bottom: rem-calc(30);
      }
    }
  }
  .widget {
    @include breakpoint(small only) {
      margin-bottom: rem-calc(10);
      text-align: center;
    }
  }
  h3 {
    margin-bottom: rem-calc(20);
    color: $white;
    font-weight: 800;
    text-transform: uppercase;
    @include breakpoint(small only) {
      text-align: center;
    }
  }
  p {
    color: $white;
  }
  #menu-footer-menu {
    display: block;
    @include breakpoint(small only) {
      list-style: none;
      margin: 0;
    }
    li {
      color: $white;
      a {
        padding: 0;
        margin-bottom: rem-calc(16);
        color: $white;
        &:hover, &:focus {
          color: $primary-color;
        }
      }
    }
    ul {
      @include breakpoint(small only) {
        list-style: none;
        margin: 0;
      }
      li {
      }
    }
  }
  .footer-widget-first {
    .widget_media_image {
      margin: rem-calc(0 0 10 0);
      @include breakpoint(small only) {
        text-align: center;
      }
    }
    p {
      font-size: rem-calc(18);
      margin-bottom: rem-calc(10);
      font-weight:700;
      line-height: rem-calc(24);
      @include breakpoint(medium down) {
        font-size: rem-calc(14);
        font-weight:400;
      }
    }
    a {
      color: $white;
      &:hover, &:focus {
        color: $primary-color;
      }
    }
  }
  .footer-widget-second {
    .textwidget {
      ul {
        li {
          a {
            color: $white;
            &:hover, &:focus {
              color: $primary-color;
            }
          }
        }
      }
    }
    .widget_nav_menu {
      ul {
        flex-direction: column;
        @include breakpoint(small only) {
          display: block;
          text-align: center;
        }
        li {
          a {
            padding: rem-calc(5 0);
            color: $medium-gray;
            &:hover, &:focus {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
  .footer-widget-fourth {
    text-align: center;
    .widget_media_image {
      margin: rem-calc(74 0 10 0);
      @include breakpoint(small only) {
        margin: rem-calc(0 0 10 0);
      }
    }
    .social-media {
      justify-content:center;
      margin-top: rem-calc(20);
      li {
        font-size:rem-calc(20px);
        a {
          padding: rem-calc(0 10);
          color: $white;
          &:hover, &:focus {
            color: $primary-color;
          }
        }
      }      
    }
    .textwidget {
      text-align: center;
    }
    p {
      font-size: rem-calc(16);
      @include breakpoint(small only) {
        text-align: center;
      }
      a {
        color: $medium-gray;
        &:hover, &:focus {
          color: $primary-color;
        }
      }
    }
  }
}

.fb_iframe_widget iframe {
  @include breakpoint(medium down) {
    width: 100%!important;
  }
}

footer {
  padding: rem-calc(24 0);
  background-color:#3d3d3d;
  @include breakpoint(small only) {
    text-align:center;
  }
  p {
    font-size: rem-calc(17);
    color:#898989; 
    font-weight:700;
  }
  .copyright {
    p {
      color:#898989;
      font-size: rem-calc(17);
      margin-bottom: 0;
      font-weight:700; 
      white-space: wrap;     
      a {
        color: $medium-gray;
      }
    }
  }
}

.category {
  article {
    margin-bottom: rem-calc(50);
    .post-excerpt {
      p {
        margin-bottom: rem-calc(15);
        &.readmore {
          margin-bottom: 0;
          text-transform: uppercase;
          font-weight: bold;
          a {
            transition: all ease-in-out 0.3s;
            padding: 0;
            &:hover {
              padding-left: rem-calc(10);
            }
          }
        }
      }
    }
  }
  h2 {
    text-transform: capitalize;
    margin-bottom: rem-calc(10);
    a {
      color: $black;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.single-post {
  h1 {
    font-size: rem-calc(30);
  }
  h2 {
    margin-bottom: rem-calc(10);
    font-size: rem-calc(18);

  }
  h1, h2 {
    text-transform: capitalize;
  
  }
  article {
    margin-bottom: rem-calc(80);
  }
}

.postmeta {
  margin: rem-calc(0 0 20 0);
  li {
    font-size: rem-calc(13);
    margin-left: rem-calc(20);
    &:first-child {
      margin-left: 0;  
    }
    a {
      display: inline;
      padding: 0;
    }
  }
}

.widget-sidebar {
  margin-bottom: rem-calc(70);
  h3 {
    color: $black;
    font-size: rem-calc(20);
    text-transform: uppercase;
  }
  ul {
    margin: rem-calc(20 0 30 0);
    li {
      list-style: none;
      font-size: rem-calc(14);
      margin: rem-calc(5 0);
      a {
        color: $black;
        transition: all ease-in-out 0.3s;
        padding: rem-calc(0);
        &:hover {
          color: $primary-color;
          padding: rem-calc(10 0 10 12);
        }
      }
    }
  }
}

.projectsection .elementor-posts-container .elementor-post__thumbnail {
  overflow: hidden;
  display: block;
  height: 148px;
  width: 100%;
  @media screen and (min-width: 960px) and (max-width: 1024px) {
    height: 260px;
  }
  @media screen and (min-width: 768px) and (max-width: 960px) {
    height: 196px;
  }
  @media screen and (max-width: 767px) {
    height: 180x;
  }
}

.strategy-form .gform_page > .gform_page_fields > ul > li > label, .strategy-form .gform_page .strategy-field-headline,
.square-box-field .gfield_radio li label, .square-box-field .gfield_checkbox li label, .simple-field .gfield_radio li label, .simple-field .gfield_checkbox li label,
.strategy-form .gform_page_footer [type="button"], body .strategy-form form .gform_page_footer [type="submit"] {
  font-family: "Times New Roman", Times, serif!important;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
border: 0;
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute !important;
width: 1px;
word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
background-color: #eee;
clip: auto !important;
clip-path: none;
color: #444;
display: block;
font-size: 1em;
height: auto;
left: 5px;
line-height: normal;
padding: 15px 23px 14px;
text-decoration: none;
top: 5px;
width: auto;
z-index: 100000;
/* Above WP toolbar. */
}

/*Custom*/
.free-quote p {
  font-size: 24px;
  color: #FFF;
  line-height: 22px;
  margin: 0;
}

.home-about-us p {
  font-size: 18px;
  line-height: 20px;
}

.main-heading {
  text-transform:uppercase;
}

.contact-form {
  .left-cols {
    margin-bottom:20px;
  }  
  textarea {
    height:198px;
    @include breakpoint(small only) {
      margin-bottom:24px;
    }    
  }
  input[type="submit"] {
    @include breakpoint(small only) {
      margin-top:20px;
    } 
  }
}

.proj-desc {
  p {
    margin:0;
    font-weight:700;
    @include breakpoint(small only) {
      text-align:left;
    } 
  }
}

.btn-request-quote a {
  font-family: "Times New Roman", Times, serif;  
  font-size:rem-calc(21);
  font-weight:700;
  color:$white;
  background:#3C5971;
  height:61px;
  line-height:61px;
  display:inline-block;
  padding:rem-calc(0 24);
  @include breakpoint(medium down) {
    font-size: rem-calc(15);
    padding:rem-calc(0 12);
    height:56px;
    line-height:56px;
  }
  &:hover {
    background:#C0322E;
  }
}

.slider-learn-more {
  position:relative;
  z-index: 999;
}

.post-article {
  display: flex;
  margin-bottom: rem-calc(50);
  @include breakpoint(medium down) {
    flex-direction: column;  
  }
  .post-img {
    flex: 1 0 auto;
    margin-right: rem-calc(20); 
    margin-bottom: rem-calc(20); 
    img {
      width: rem-calc(300);
      height: auto;
      @include breakpoint(medium down) {
        width: rem-calc(640);
      }
    }
  }
  .post-excerpt {
  
  }
}